body
{
    padding: 0;
    margin: 0;
}
.headofpage
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.idcard
{
    margin-top: 3vh;
    margin-left: 10vw;
}

.danda
{
    height: 3vh;
    width: 100%;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

.AllCompanies
{
    display: flex;  
    justify-content: center;  
    align-items: center;
    flex-direction: column;
}
.card
{
    height: 14vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
    margin: 1vh;
    padding: 1vh;
    border-radius: 1vh;
}

.part
{
    height: 14vh;
    width: 26.666vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.element
{
    margin: 0.5vh;
}

#folio
{
    background-color: black;
    border-radius: 2vh;
    color: aliceblue;
    width: 70%;
    font-size: small;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}