<!DOCTYPE html>
<html lang="en">

<head>
    <title>WealthTrack</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
    <div class="WealthTrack">
        <nav>
            <logo>
                <img src="" />
            </logo>
            <login>
                <button class="lgn-button"><a href="/signin">Use Now</button>
            </login>
        </nav>
        <!-- <div>
            <div>Navigating Your Financial Journey Together</div>
            <div>Experience WealthTrack, Your Personal Financial Navigator for a Secure and Prosperous Future</div>
            <div>
        </div> -->
        <div></div>
    </div>
</body>

</html>
