<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login with mongodb flask</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/signin.css" rel="stylesheet">

</head>

<body>

<div class="container">
      <h1>Enter your Details</h1>
      <form class="form-signin" action="/index" method="post">
        <input type="text" name="username" id="inputName" class="form-control" placeholder="Name" required autofocus>      
      </form>
      <form>
        <input type="text" name="password" id="inputPassword" class="form-control" placeholder="Email" required>
      </form>
      <form class="form-signin" action="/index" method="post">
        <input type="text" name="username" id="inputName" class="form-control" placeholder="PanCard" required autofocus>      
      </form>
      <form>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </form>
      <form class="form-signin" action="/index" method="post">
        <input type="text" name="username" id="inputName" class="form-control" placeholder="Account No." required autofocus>      
      </form>
      <a href="main"> <button id="btnSignUp" type="button" href="main" >Login</button> </a>
</div>
</body>
</html>
