<!DOCTYPE html>
<html lang="en">
<head>
  <title>WealthTrack</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/signin.css" rel="stylesheet">

</head>

<body>
  <!-- <a href="main"> <button id="homebtn" type="button" href="main" >Home</button> </a> -->
<div class="container">
      <h1 class="details">Enter your Details</h1>
      <form class="form-signin" action="/view" method="POST">
        <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required autofocus>      
        <input type="text" name="email" id="inputPassword" class="form-control" placeholder="Email" required>
        <input type="text" name="pan_no" id="inputName" class="form-control" placeholder="PanCard" required autofocus>      
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <input type="submit" id="btnSignUp" placeholder="Login"> 
</div>
</body>
</html>
